# Rapid API
RAPID_API_KEY = 'YOUR_RAPID_API_KEY'

# Discord
TOKEN = 'YOUR_DISCORD_TOKEN'

# Reddit
CLIENT_ID = 'YOUR_REDDIT_CLIENT_ID'
CLIENT_SECRET = 'YOUR_REDDIT_CLIENT_SECRET'
USER_AGENT = 'Mozilla/5.0 (X11; Linux x86_64; rv:7.0) Gecko/20170104 Firefox/35.0'

# AccuWeather
ACCUWEATHER_API_KEY = 'YOUR_ACCUWEATHER_API_KEY'
