# Cassandra DB keyspace
DB_KEYSPACE = ''

# Cassandra DB contact points
DB_CONTACT_POINTS = ['']

# Cassandra DB port
DB_PORT = 1234

# Cassandra DB username
DB_USERNAME = ''

# Cassandra DB password
DB_PASSWORD = ''
